body {
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    
}

p {
    color: #222222;
}

.foto {
    width: 150px;
}

